In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data = pd.read_csv('../JSON/Backup/totals.csv')

In [8]:
data.head()

,Rk,Player,Season,MVP,First,Share,Pos,Age,Tm,G,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team.Wins
0,2,Shareef Abdur-Rahim,2000,False,0,0.0,SF,23,VAN,82,...,218,607,825,271,89,87,249,244,1663,22
1,4,Ray Allen,2000,False,0,0.0,SG,24,MIL,82,...,83,276,359,308,110,19,183,187,1809,42
2,6,John Amaechi,2000,False,0,0.0,C,29,ORL,80,...,62,204,266,95,35,37,139,161,836,41
3,7,Derek Anderson,2000,False,0,0.0,SG,25,LAC,64,...,80,178,258,220,90,11,167,149,1080,15
4,8,Kenny Anderson,2000,False,0,0.0,PG,29,BOS,82,...,55,170,225,420,139,8,130,230,1149,35

In [9]:
data.describe()

,Rk,Season,First,Share,Age,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team.Wins
count,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,...,4990.000000,4990.000000,4990.000000,4990.00000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000
mean,229.965932,2009.192786,0.451703,0.009675,26.672545,69.122445,37.928858,1773.576754,278.500200,615.485371,...,76.905611,223.422044,300.327655,167.25491,57.190982,33.597395,102.419439,148.395190,748.169138,41.054709
std,133.649957,5.522391,6.147611,0.076238,4.279355,11.264902,30.342601,725.754377,165.930101,352.678682,...,63.113410,138.060901,191.633377,144.47425,33.418065,37.088157,60.937746,57.635174,458.103443,12.456427
min,1.000000,2000.000000,0.000000,0.000000,19.000000,42.000000,0.000000,224.000000,10.000000,34.000000,...,1.000000,9.000000,16.000000,2.00000,3.000000,0.000000,2.000000,11.000000,29.000000,7.000000
25%,116.000000,2004.000000,0.000000,0.000000,23.000000,61.000000,7.000000,1206.000000,148.000000,340.000000,...,30.000000,124.000000,159.000000,65.00000,32.000000,10.000000,56.000000,105.000000,395.250000,32.000000
50%,227.000000,2009.000000,0.000000,0.000000,26.000000,72.000000,35.000000,1765.000000,247.000000,555.000000,...,56.000000,192.000000,254.000000,123.00000,50.000000,21.000000,90.000000,146.000000,656.500000,42.000000
75%,344.000000,2014.000000,0.000000,0.000000,30.000000,79.000000,69.000000,2336.000000,378.000000,829.000000,...,105.000000,289.000000,391.000000,222.00000,76.000000,42.000000,138.000000,189.000000,1012.000000,50.000000
max,540.000000,2018.000000,131.000000,1.000000,41.000000,82.000000,82.000000,3485.000000,978.000000,2173.000000,...,440.000000,894.000000,1247.000000,925.00000,225.000000,294.000000,464.000000,371.000000,2832.000000,73.000000

In [10]:
data.columns

Index(['Rk', 'Player', 'Season', 'MVP', 'First', 'Share', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'FG', 'FGA', 'FG.', 'X3P', 'X3PA', 'X3P.', 'X2P',
       'X2PA', 'X2P.', 'eFG.', 'FT', 'FTA', 'FT.', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team.Wins'],
      dtype='object')

In [152]:
feature = ['PTS', 'Team.Wins', 'FG', 'AST', 'DRB', 'TOV', 'PF']

In [153]:
training = data[data['Share'] != 0]

In [154]:
X = training[feature]
y = training['Share']

In [155]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

In [167]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=42, n_jobs=-1, n_estimators=916, max_depth=16, min_samples_leaf=6, max_leaf_nodes=16, min_samples_split=3)
rf.fit(X_train, y_train)
rf.score(X_valid, y_valid)

0.45140013463507195